doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-4.3.1/bootstrap.min.css')
    script(src='/javascripts/bootstrap-4.3.1/bootstrap.min.js')
    script(src='/javascripts/bootstrap-4.3.1/bootstrap.bundle.min.js')
    script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/jquery-3.4.1.js')
    script(src='javascripts/index.js')
  body
    block content
