extends layout
block content
  h1= title
  p.display-4 Danh sách thiết bị đang kết nối
  .row
    #listdevice.col-md-4
      //- a.btn.btn-outline-secondary.btn-lg.mr-3.mb-3
      //-   img.icon(src="https://png.pngtree.com/svg/20170103/04ff1a209d.svg")
      //-   |&nbsp;00:00:00:00:00:00
    #properties.col-md
      h3 MOSITURE
        #mositure.ml-2.badge.badge-primary NULL
      h3 MODE
        #pumbMode.ml-2.badge.badge-info NULL
        button.ml-3.btn.btn-warning Change mode
      h3 PUMB
        #pumbStatus.ml-2.badge.badge-success NULL

